* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1{
    background-color: rgb(161, 160, 160);
    display: flex;
  width: 100%;
}

.nav2{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav2 li{
   list-style: none; 
   width: 100px;
   text-align: center;
}

.nav2 li a{
    text-decoration: none;
    color: black;
}

.nav2 li a:hover{
    background-color: rgb(225, 222, 222);
    padding: 5px 15px;
    border-radius: 50px;
}
.nav3{
    position: absolute;
    display: none;
}
.mnav{
    display: none;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

.logo {
    cursor: pointer;
    text-align: start;
    width: 30%;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo h2 {
    color: rgb(11, 11, 11);
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 40px;
}

.btext {
    width: 50%;
    margin: 100px 20px;
    color: rgb(3, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btext .p1 {
    font-size: 30px;
    font-weight: 900;
}


.bimg {
    width: 40%;
    margin-left: 40px;
}

.bimg img {
    width: 100%;
}

.btn1 a{
    width: 100px;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: black;
    color: white;
    border: solid 1px gray;
}
   
.btn1 a:hover {
    background-color: rgb(111, 111, 111);
    color: white;
    border: solid black 2px;
}

.about {
    text-align: center;
    margin-top: 20px;
}

.about p {
    margin-top: 12px;
}

.about h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color: rgb(167, 160, 160);
    width: 100%;
    height: 35vh;
}

.box1 h2 {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box1 li {
    margin-top: 20px;
}

.services {
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services p {
    margin-top: 8px;

}

.section2 {
    display: flex;
    margin-top: 45px;
    width: 100%;
    justify-content: space-around;
}

.sbox {
    width: 45%;
    height: 85vh;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(239, 234, 234);
}

.sbox img {
    width: 100%;
}

.sbox h3 {
    margin-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sbox p {
    margin-top: 3px;

}

.secbtn {
    width: 90%;
    padding: 5px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    margin-bottom: 8px;
}

.secbtn:hover {
    color: rgb(245, 242, 242);
    background-color: gray;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid gray 2px;
}

.section3 {
    display: flex;
    margin-top: 45px;
    width: 100%;
    height: 125vh;
    justify-content: space-around;
}

.skills {
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section4 {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data1 {
    width: 45%;
    box-shadow: 15px 10px 15px gray;
}

.data1 h3 {
    margin: 5px 10px;
}

.data1 p {
    margin-left: 10px;
}

.li {
    margin: 10px 30px;
}

.work {
    text-align: center;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    background-color:rgb(161, 160, 160);

}

.imgw {
    width: 40%;
}

.imgw img {
    width: 100%;
    border-radius: 5px;
}

.wtext {
    padding: 10px;
    width: 50%;
}

.wtext p {
    padding: 3px;
}

.para {
    padding-top: 10px;
}

.btn7 button {
    margin-top: 15px;
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1000ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 2px solid black;
}

button:hover {
    color: #ffffff;
    transform: scale(1.0);
    outline: 2px solid black;
    box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

.section7{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color:rgb(161, 160, 160);
}

.sec1 {
    display: flex;
    padding: 40px;
    width: 50%;
}

.sec1 p{
    padding-top: 10px;
}

.imgs{
    width: 100%;
}

.imgs img{
    width: 100%;
    height: 40vh;
    border-radius: 3px;
}

.stext{
    padding: 10px;
}

.sec2{
    display: flex;
    width: 50%;
    padding: 40px;
}

.sec2 p{
    padding-top:  10px;
}

.client{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}

.cbox{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(161, 160, 160);
    width: 100%;
    height: 42vh;
    margin-top: 30px;
}

.cbox1{
    width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 18px;
}

.cbox1 p{
    background-color: white;
    padding: 16px 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cbox1 h3{
    border: solid 2px black;
    background-color: black;
    color: white;
    padding: 6px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(162, 160, 160);
}

.fbox{
    padding: 20px;
}

.fbox ul a{
    text-decoration: none;
    color: black;
}

.fbox h2{
    margin-bottom: 20px;
}

.fbox ul li{
    list-style: none;
    padding: 2px;
}

#home{
    font-size: 20px;
}

.footerend{
    text-align: center;
    background-color: gray;
}

.btn1{
    margin-top: 20px;
}

.btnview{
    margin-top: 10px;
    width: 100%;
}

.btnview a{
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
}

.btnview a:hover {
    background-color: rgb(111, 111, 111);
    color: rgb(20, 20, 20);
    border: solid rgb(250, 249, 249) 1px;
}

/* reponsive section */

@media screen and (max-width: 460px) {

    .banner {
        flex-direction: column-reverse;
    }

    .bimg {
        width: 100%;
        margin: auto;
    }

    .btext {
        width: 100%;
        padding: 15px;
        margin: 0px;
    }

    .section {
        height: 65vh;

    }

    .box1 h2 {
        font-size: 16px;
    }

    .box1 li {
        font-size: 14px;
    }

    .section2 {
        flex-direction: column;
        width: 100%;
    }

    .sbox {
        width: 100%;
    }

    .tbn1{
        margin-top: 20px;
    }

    .section3 {
        flex-direction: column;
        width: 100%;
    }

    .sbox {
        width: 100%;
    }


    .section4 {
        flex-direction: column;
        width: 100%;
    }

    .data1 {
        width: 100%;
        box-shadow: none;
        gap: 10px
    }

    .section6 {
        flex-direction: column;
        padding: 0%;
    }

    .imgw {
        width: 100%;
    }

    .wtext {
        width: 100%;
    }

.section7{
    flex-direction: column;
}

.sec1{
    width: 100%;
    flex-direction: column;
    padding: 0%;
}

.sec2{
     width: 100%;
    flex-direction: column;
    padding: 0%;
}

.nav2{
    display: none;
}

.mnav{
    display: block;
}
.logo{
    width: 90%;
    font-size: 17px;
}

.nav3{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgb(185, 181, 181);
    width: 100%;
    height: 50vh;
    display: none;
}

.nav3 ul{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.nav3 li {
    list-style: none;
    padding: 5px;
}

.nav3 li a{
    text-decoration: none;
    color: black;
}

.cbox{
    flex-direction: column;
    height: 284vh;
    justify-content: flex-start;
}

.cbox1{
    width: 100%;
    margin-top: 25px;
}

.footer{
    flex-direction: column;
    margin-top: 70px;
}



}







/* reponsive section */