* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1 {
    background-color: rgb(161, 160, 160);
    display: flex;
    width: 100%;
}

.nav2 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav2 li {
    list-style: none;
    width: 100px;
    text-align: center;
}

.nav2 li a {
    text-decoration: none;
    color: black;
}

.nav2 li a:hover {
    background-color: rgb(225, 222, 222);
    padding: 5px 15px;
    border-radius: 50px;
}

.nav3 {
    position: absolute;
    display: none;
}

.mnav {
    display: none;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.logo {
    cursor: pointer;
    text-align: start;
    width: 30%;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo h2 {
    color: rgb(11, 11, 11);
}


.banner {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 40px;
}

.btext {
    width: 50%;
    margin: 100px 20px;
    color: rgb(3, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btext .p1 {
    font-size: 30px;
    font-weight: 900;
}

.bimg {
    width: 40%;
    margin-left: 40px;
}

.bimg img {
    width: 100%;
}

.btn {
    margin-top: 15px;
}

.btn a {
    text-decoration: none;
    padding: 6px;
    background-color: black;
    color: white;
    border: solid rgb(7, 7, 7) 2px;
    border-radius: 5px;
}

.btn a:hover {
    background-color: rgb(121, 120, 120);
    color: white;
}

/* .section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(199, 198, 198);
    width: 100%;
    height: 64vh;
    margin-top: 30px;
}

.sbox {
    width: 25%;
    height: 53vh;
    margin-top: 50px;
    border: solid rgb(5, 5, 5) 2px;
    border-radius: 3px;
    background-color: white;
}

.sbox img {
    width: 100%;
}

.sbox h3 {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
}

.btn1 {
    width: 40%;
    margin-left: 10px;
}

.btn1 button {
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    border: solid 1px black;
}

.btn1 button:hover {
    background-color: black;
    color: white;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(199, 198, 198);
    width: 100%;
    height: 64vh;
    margin-top: 0px;
}

.porfolio {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images {
    display: flex;
    margin-top: 25px;
    width: 100%;
    gap: 15px;
    background-color: rgb(219, 221, 222);
}

.images img {
    width: 24%;
}

.images2 {
    display: flex;
    margin-top: 3px;
    width: 100%;
}

.img10 img {
    width: 100%;
    padding: 5px 20px;
}

.img4 {
    width: 100%;
    display: flex;
    gap: 15px;
}

.img4 img {
    width: 60%;
}

.imgn {
    width: 50%;
}

.imgn img {
    width: 100%;
    height: 70vh;
}

.imagess {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagess img {
    width: 95%;
    height: 90vh;
}

.ssection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
    height: 55vh;
    background-color:  rgb(175, 173, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxs{
    margin-top: 20px;
width: 24%;
height: 47vh;
border: solid rgb(151, 151, 151) 2px;
border-radius: 4px;
background-color: white;
}

.img img{
    width: 100%;
}

.boxs h2{
    margin-top: 10px;
    padding: 6px;
}

.btns{
    padding-left: 7px;
}
.btns button{
    width: 30%;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    border: 1px solid black;

}

.btns button:hover{
background-color: black;
color: white;
} */

.footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(162, 160, 160);
}

.fbox {
    padding: 20px;
}

.fbox ul a {
    text-decoration: none;
    color: black;
}

.fbox h2 {
    margin-bottom: 20px;
}

.fbox ul li {
    list-style: none;
    padding: 2px;
}

#home {
    font-size: 20px;
}

.footerend {
    text-align: center;
    background-color: gray;
}
/* 
.boxes12{
    display: flex;
    justify-content: space-around;
}

.seo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.seos{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
    height: 54vh;
    background-color: rgb(175, 174, 174);
}

.seob{
    width: 25%;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 46vh;
    margin-top: 20px;
    border: solid 1px rgb(136, 135, 135);
    background-color: white;

}

.seob h2{
    padding-left: 10px;
}

.seobtn{
    padding: 10px;
}

.seobtn button{
    padding: 7px;
    width: 30%;
    border-radius: 3px;
    border: solid 1px black;
}

.seobtn button:hover{
    background-color: black;
    color: white;
    border: 1px solid gray;
}


.imgseo img{
    width: 100%;
}

.bug{
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seoslast{
    display: flex;
    justify-content: space-around;
    background-color:rgb(175, 174, 174);
    height: 55vh;
}


 */
.web-heading{
    width: 100%;
    height: 6rem;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.web-boxes{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.web-box{
    width: 30%;
    border: 1px solid rgb(181, 179, 179);
    border-radius: 3px;
}

.webbox-head{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px 4px;
}

.webbox-img{
    width:100% ;
}
.webbox-img img{
    width:100% ;
}


.webbox-btn a{
    display: flex;
    background: rgb(218, 220, 220);
    justify-content: center;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.webbox-btn a:hover{
    background-color: rgb(47, 48, 48);
    color: white;
}
/* responsive start */


@media screen and (max-width: 460px) {
    .logo {
        width: 90%;
        font-size: 20px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .bimg {
        width: 100%;
        margin: auto;
    }

    .p1 {
        margin-top: -50px;
    }

    .btext{
        width: 100%;
        margin: 100px 0px;
    }

    .btn{
        display: flex;
    flex-wrap: wrap;
    gap: 5px;
    }
    .web-heading{
        margin-top: 1rem;
    }
.web-boxes{
    flex-direction: column;
}
.web-box{
    width: 100%;
}






    .footer {
        flex-direction: column;
        margin-top: 30px;
    }


    .nav2 {
        display: none;
    }

    .mnav {
        display: block;
    }

    .nav3 {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        background-color: rgb(185, 181, 181);
        width: 100%;
        height: 50vh;
        display: none;
    }

    .nav3 ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav3 li {
        list-style: none;
        padding: 5px;
    }

    .nav3 li a {
        text-decoration: none;
        color: black;
    }

}























/* responsive end */